@use '/src/scss/theme/theme';

#header {
    width: 100%;
    height: 8%;
    background-color: theme.$background-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @extend %shadow-component;

    #header-container-left {
        width: 20%;
        height: 100%;
        padding-left: 2%;
    }
    #header-container-right {
        width: 16%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 2%;
    }
    .header-button {
        height: 100%;
        aspect-ratio: 1;
        background-color: transparent;
        border: none;
    }
    .header-button-label {
        font-family: theme.$main-font;
        color: white;
        margin-top: 6px;
        margin-bottom: 0px;
    }
    #header-logo {
       width: 55%;
       height: 100%;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
    }
    #header-logo-text {
        font-family: theme.$logo-font;
        font-size: 42px;
        font-weight: bold;
        color: white;
        margin: 0px;
    }
}