@use '/src/scss/theme/theme';

.editor-sheet-container {
    width: 45%;
    padding: 3vh;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}
.editor-sheet {
    width: 95%;
    aspect-ratio: 0.73;
    background-color: white;
    @extend %shadow-component;
}