@use '/src/scss/theme/theme';

#editor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
}
#editor-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.editor-sheet-container {
    width: 45%;
    padding: 3vh;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}
.editor-sheet {
    width: 95%;
    aspect-ratio: 0.73;
    background-color: white;
    @extend %shadow-component;
    padding: 2%;
}
.editor-sheet-header {
    width: 100%;
    aspect-ratio: 6;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
    grid-template-areas: 
        "composer composer ."
        "title title title"
        ". . ."
    ;
}
.editor-sheet-input {
    background-color: transparent;
    border: none;
    width: auto;
    padding: 5px;
    outline: none;
}
.author {
    font-size: 18px;
    font-weight: 500;
    grid-area: composer;
}
.title {
    font-size: 36px;
    font-weight: bold;
    grid-area: title;
    text-align: center;
}


.editor-sheet-footer {
    width: 100%;
    aspect-ratio: 8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
.editor-sheet-measure-row {
    width: 100%;
    aspect-ratio: 12;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.editor-sheet-measure {
    width: 25%;
    height: 100%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.editor-sheet-measure-space, .editor-sheet-measure-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: visible;
    position: relative;
}
.editor-sheet-measure-space{
    width: 100%;
    height: 25%;
}
.editor-sheet-measure-line {
    width: 100%;
    height: 1px;
    background-color: black;
}
.editor-sheet-measure-note {
    width: 7%;
    aspect-ratio: 1;
    background-color: black;
    border-radius: 200px;
    z-index: 1;
    position: absolute;
    margin-right: 15%;
}



.editor-list {
    padding-right: 1vh;
    padding-left: 1vh;
    z-index: 1;
    position: absolute;
    background-color: theme.$background-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    @extend %shadow-component;
}

.editor-list-header {
    height: 4vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5vh;
}
.editor-button {
    background-color: transparent;
    border: none;
    margin-bottom: 1.5vh;
    border-bottom: 1px solid theme.$button-grey;
    padding-bottom: 1.5vh;
    padding-left: 1.8vh;
    padding-right: 1.8vh;
}
.editor-list-label { 
    color: white;
    font-size: 14px;
    width: 8vh;
    text-align: center;
}

.editor-button-image {
    width: 42px;
    height: 42px;
    object-fit: contain;
}
#editor-menu {
    top: 12%;
    left: 1%;
}
#editor-transport {
    top: 12%;
    left: 7.5%;
}
#editor-clefs {
    top: 24%;
    left: 1%;
}
#editor-notes {
    top: 24%;
    left: 7.5%;
}
#editor-rests {
    top: 36%;
    left: 1%;
}
#editor-instuments {
    top: 36%;
    left: 7.5%;
}
#editor-pages {
    top: 48%;
    left: 1%;
}
#editor-bpm {
    top: 48%;
    left: 7.5%
}

#editor-bpm-form {
    padding: 0.8vh;
    width: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#editor-bpm-input {
    width: 50%;
    margin-right: 5%;
    color: white;
    background-color: rgba(255,255,255,0.2);
    font-size: 18px;
    border: none;
    outline: none;
    padding: 0.5vh;
}
#editor-bpm-input-units {
    color: white;
}




