@use '/src/scss/theme/theme';

#editor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
}
#editor-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.editor-sheet-container {
    width: 45%;
    padding: 3vh;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}
.editor-sheet {
    width: 95%;
    aspect-ratio: 0.73;
    background-color: white;
    @extend %shadow-component;
    padding: 2%;
}
.editor-sheet-header {
    width: 100%;
    aspect-ratio: 6;
    margin-bottom: 1%;

    background-color: yellow;
}
.editor-sheet-footer {
    width: 100%;
    aspect-ratio: 8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
.editor-sheet-measure-row {
    width: 100%;
    aspect-ratio: 8;
    margin-bottom: 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background-color: pink;
}
.editor-sheet-measure {
    width: 25%;
    height: 100%;

    background-color: lime;
}
.editor-list {
    padding-right: 1vh;
    padding-left: 1vh;
    z-index: 1;
    position: absolute;
    background-color: theme.$background-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    @extend %shadow-component;
}
.editor-list-header {
    height: 4vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.editor-button {
    background-color: transparent;
    border: none;
    margin-bottom: 1.5vh;
    border-bottom: 1px solid theme.$button-grey;
    padding-bottom: 1vh;

}
.editor-button-image {
    width: 42px;
    height: 42px;
    object-fit: contain;
}
#editor-menu {
    top: 10%;
    left: 1%;
}
#editor-transport {
    top: 10%;
    left: 6%;
}
#editor-clefs {
    top: 10%;
    left: 95.5%;
}
#editor-notes {
    top: 48%;
    left: 95.5%;
}
#editor-rests {
    top: 48%;
    left: 91%;
}